.App {
  text-align: center;
    display:flex;
    height:100vh;

}
body {
    background:#a5bb99;
}

.tickerDiv {

  height:auto;
  justify-content: flex-start;
  text-align: center;
  padding:0 20px;
  display: flex;


}

.tickerDiv ul{
  list-style: none;
  padding:0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
    flex-direction: row;
}

.Links{
  display:inline-block;
    color:#000000;
    text-decoration: none;
    margin: 0 5px;
}
.element{
  box-shadow: 1px 2px 2px #000;
  height:auto;
  padding: 10px;
    width: 30vw;
    margin-left:5px;
    margin-bottom:5px;
    text-transform: uppercase;
    font-size: 24px;
    background-color: cornsilk;
}

.tickerId {
  text-transform: uppercase;
  display: block;

}

h1 {
    text-shadow: 1px 2px 2px #fff;
    text-transform: uppercase;
}
.assetsTicker {
  text-align: left;
  width: 70vw;
  display: flex;
    justify-content: center;
}

.border{
    border: solid 1px cornsilk;
}

.Assets {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100vw;
}
.onSide{
display:inline-block;
    width:auto;
    padding-left: 0 10px;
    margin: 10px 15px;
}

.iconFont{
    font-size: 24px;
}
.hide{
    justify-self: flex-end;
    color: cornsilk;
    text-shadow: none;
}

@media (max-width: 1450px) {
    .element{
        width:25vw;
    }
    .tickerDiv ul{
        justify-content: center;
    }

}
.hidden {
    display:none;
}
.show{
    display:block;
}